<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body> 

    <section class="page__404">
        <p>Страница не найдена</p>
        <div class="input_project__btns">
            <button class="choice__view">Просмотр</button>
            <button class="btn__exit">Выход</button>
        </div>
    </section>

<script src="/public/js/jquery.js" defer></script>
<script src="/public/js/js.js" defer></script>
<!-- <script src="/build/bundle.js"></script> -->

</body>
</html>