<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <!--Форма ввода логина и пароля-->
    <div class="input_project">
        <form class="form__input">
            <input type="text" class="login" placeholder="login"/>
            <input type="password" class="password"  placeholder="password"/>
            <div class="input_project__btns">
                <button type="submit" class="btn__input">Вход</button>
                <button class="btn__exit">Выход</button>
                <button class="btn__check">Регистрация</button>
            </div>
            <button class="btn__w-socket">Отправить</button>
        </form>
    </div>

    <!--Блок выбора ввода или отображения-->
    <div class="choice">
        <div class="choice__content">
            <button class="choice__view">Просмотр</button>
            <button class="choice__input">Ввести</button>
        </div>
    </div>

<script src="/public/js/jquery.js" defer></script>
<script src="/public/js/js.js" defer></script>
<!-- <script src="/build/bundle.js"></script> -->

</body>
</html>