<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
 
<!--Блок вывода услуг-->
<div class="container">
    <div class="container__filter">
        <ul>
            <li><a href="/filter/All" class="active" data-id="all">All</a></li>
            <% services.forEach(function(item) { %>
            <li><a href="/filter/<%= item.service.replace(/\s+/g, '') %>"><%= item.service.replace(/\s+/g, '') %></a></li>
            <% }); %>
        </ul>
    </div>
    <div class="container__content">
        <% data.forEach(function(data) { %>
        <article class="block">
            <div class="block__row block__name">
                <p class="block__row-name">Имя: </p>
                <input type="text" class="block__row-value" readonly="readonly" value="<%= data.name.replace(/\s+/g, '') %>"/>
            </div>
            <div class="block__row block__phone">
                <p class="block__row-name">Телефон: </p>
                <input type="text" class="block__row-value" readonly="readonly" value="<%= data.phone.replace(/\s+/g, '') %>"/>
            </div>
            <div class="block__row block__service">
                <p class="block__row-name">Услуга: </p>
                <p class="block__row-value"><%= data.service.replace(/\s+/g, '') %></p>
            </div>
        </article>
        <% }); %>
    </div>
    <button class="choice__input">Ввести</button>
    <div class="input_project__btns">
        <button class="btn__exit">Выход</button>
    </div>
</div>

<script src="/public/js/jquery.js" defer></script>
<script src="/public/js/js.js" defer></script>
<!-- <script src="/build/bundle.js"></script> -->

</body>
</html>