<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<!--Блок ввода услуги-->
<div class="input-service">
    <article class="block">
        <form class="form__input-service" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" class="block__token">
            <div class="block__row">
                <input type="file" class="block__row-value block__file">
            </div>
            <div class="block__row">
                <p class="block__row-name">Имя: </p>
                <input type="text" class="block__row-value block__name" />
            </div>
            <div class="block__row">
                <p class="block__row-name">Телефон: </p>
                <input type="text" class="block__row-value block__phone" />
            </div>
            <div class="block__row block__service-row">
                <p class="block__row-name">Услуга: </p>
                <p class="block__row-value block__service"></p><span class="btn__list"></span>
                <ul>
                    <% services.forEach(function(item) { %>
                        <li><a href="#0"><%= item.service %></a></li>
                    <% }); %>
                </ul>
            </div>
            <button class="btn__rec-service">Записать</button>
        </form>
        <div class="input_project__btns">
            <button class="choice__view">Просмотр</button>
            <button class="btn__exit">Выход</button>
        </div>
    </article>
</div>

<script src="/public/js/jquery.js" defer></script>
<script src="/public/js/js.js" defer></script>
<!-- <script src="/build/bundle.js"></script> -->

</body>
</html>