body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
}
.input_project{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 550px;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-wrap: wrap;
}
    .input_project__btns{
        display: flex;
        justify-content: center;
    }
        .input_project__btns button{
            margin: 0 auto;
            margin-top: 40px;
        }    
        .input_project button{
            margin-right: 10px;
            width: 150px;
        }
    .input_project button:last-child{
        margin-right: 0;
    }
    .input_project h3{
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }
a{
    color: #212121;
    text-decoration: none;
    transition: color .3s ease;
}
    a:hover{
        color: #ccc;
    }
p, h3{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button {
    display: block;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 0;
    background: #0095B6;
    transition: all 0.3s ease;
    cursor: pointer;
}
    button:hover {
        color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    }

input{
    padding: 7px 5px;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    border: none;
    border-radius: 0;
    background: transparent;
    transition: border .3s ease;
}
    input:focus{
        outline: none;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    }
    input::placeholder{
        color: #ccc;
    }
/*Форма*/
.form__input{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
}
    .form__input input{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: calc(70% - 12px);
        border: 1px solid rgba(0, 0, 0, .2);
        background: #fff;
    }

/*Сообщения при отправке формы*/
.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 20px;
    transform: translate(-50%, -50%);
    width: 280px;
    border: 1px solid #0095B6;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 2;
}
    .alert-danger{
        color: #212121;
    }
input.error_input{
    border: 1px solid #E32636;
}

.shadow{
    display: none !important;
}
.view{
    display: block !important;
}

    /*Контейнер с контентом*/
    .container__content{
        padding: 40px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        background: #ccc;
    }
        .block{
            padding: 20px;
            margin-right: 4%;
            margin-bottom: 10px;
            width: calc(30.66% - 42px);
            border: 1px solid rgba(0, 0, 0, .2);
        }
        .block:nth-child(3n){
            margin-right: 0;
        }
            .block__row{
                margin-bottom: 7px;
                display: flex;
                flex-flow: space-between;
            }
                .block__row-name{
                    width: 49%;
                    font-weight: bold;
                }
                .block__row-value{
                    width: 49%;
                }
                .block__service-row{
                    position: relative;
                }
                    .block__service-row ul{
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        background: #fff;
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
                    }
                        .block__service-row a{
                            display: block;
                            padding: 5px 10px;
                        }
                    .block__service-row ul.active{
                        display: block;
                    }
                    .btn__list{
                        display: none;
                        position: absolute;
                        top: 7px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 7px solid #000000;
                        border-left: 5px solid transparent;
                        border-right: 7px solid transparent;
                        transition: border .3s ease;
                        cursor: pointer;
                    }
                        .btn__list:hover{
                            border-top: 7px solid #fff;
                        }
                    .input-service .btn__list{
                        display: block;
                    }
    .container .choice__input{
        display: block;
        margin: 0 auto;
    }

    /*Блок с вводом услуги*/
    .input-service{
        margin-top: 150px;
    }
        .input-service .block{
            position: relative;
            margin: 0 auto;
        }
            /* .input-service .block button{
                display: block;
            } */
            .btn__rec-service{
                margin: 0 auto;
                margin-top: 20px;
            }
            .input-service input{
                border: 1px solid rgba(0, 0, 0, .2);
                background: #fff;
            }

    /*Фильтр*/
    .container__filter{
        padding-top: 70px;
    }
        .container__filter ul{
            display: flex;
            justify-content: center;
        }
            .container__filter a{
                display: block;
                padding: 7px 15px;
                margin-right: 20px;
                transition: color .3s ease;
            }
                .container__filter a:hover{
                    color: #0095B6;
                }
    /*Выбор отображения*/
    .choice{
        display: none;
    }
        .choice__content{
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%);
        }
            .choice button{
                margin-right: 10px;
            }
                .choice button:last-child{
                    margin-right: 0;
                }
    /*Страница 404*/
    .page__404{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 550px;
        transform: translate(-50%, -50%);
    }
        .page__404 > p{
            padding-bottom: 20px;
            font-size: 21px;
            line-height: 27px;
            text-align: center;
        }
